.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
div.cd-search{
    top: 100% !important;
}

label.error{  display: block; color: red; vertical-align: top; }
input.error{
    border: 1px solid red;
}
div.form-group{
    margin-top: 20px;
}
div.progress{
    margin-top: 10px !important;
}
span.required{
    color: red;
}
@media (max-width: 736px){
    div.main-agileits{
        width: 100% !important;
    }
}